.container {
  width: 100%;
  padding: 0;
  margin: 0;
}
nav div {
  display: inline;
}
.right {
  float: right;
}
a {
  max-width: 100%;
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-size: 15px;
}
.banner {
  width: 100%;
  max-width: 100%;
  height: 300px;
  margin-top: 30px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png?fbclid=IwAR1J9104mTY17q8069qakX1KK5kFxFN1wqUzgKbf6aXwSeVv-OU_ewEIugs);
  background-size: cover;
}
.textbanner {
  position: absolute;
  max-width: 100%;
  top: 125px;
  left: 90px;
  color: #fff;
  font-size: small;
}
.textbanner p {
  position: absolute;
  top: 40px;
}
@media only screen and (max-width: 768px) {
  /* For tablets: */
  a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-size: 10px;
  }
  .textbanner {
    position: absolute;
    top: 100px;
    left: 60px;
    color: #fff;
    font-size: 10px;
  }
  .textbanner p {
    position: absolute;
    top: 30px;
  }
}
.textconten {
  margin-left: 30px;
}
.row {
  float: left;
  width: 60%;
  display: grid;
  grid-template-columns: 50% 50%;
}
article img {
  width: 90%;
  padding: 5% 10% 8% 8%;
}
.flr {
  width: 30%;
  float: right;
  padding-right: 5%;
}
.flr img {
  width: 100%;
}
footer {
  margin-left: 40px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
footer div {
  width: 90%;
}
