.container {
  width: 100%;
  padding: 0;
  margin: 0;
}
nav div {
  display: inline;
}
.right {
  float: right;
}
a {
  max-width: 100%;
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-size: 15px;
}
.banner {
  width: 100%;
  max-width: 100%;
  height: 300px;
  margin-top: 30px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png?fbclid=IwAR1J9104mTY17q8069qakX1KK5kFxFN1wqUzgKbf6aXwSeVv-OU_ewEIugs);
  background-size: cover;
}
.textbanner {
  position: absolute;
  max-width: 100%;
  top: 125px;
  left: 90px;
  color: #fff;
  font-size: small;
}
.textbanner p {
  position: absolute;
  top: 40px;
}
.textconten {
  margin-left: 30px;
}
article {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
article img {
  width: 100%;
  margin-top: 10px;
}
article div {
  padding: 10px;
}
footer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
footer div {
  width: 90%;
  padding: 10px;
}
